<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.new-head{
		font-family: ptd_bl;
		font-size: 48px;
		margin-bottom: 50px;
	}
	.content{
		
	}
	.new-group-box{
		width: 1000px;
		margin: 0 auto;
	}
	.title{
		color : black;
		font-family: ptd;
		font-size: 26px;
	}
	.new-group-box>div{
		margin-bottom: 50px;
	}
	.group-name-box>input{
		width : 500px;
		border : none;
		border-bottom: 1px solid black;
	}
	#category{
		width: 150px;
	}
	.region-api-div{
		display: flex;
		flex-direction: row;
	}
	.region-api-div>div{
		text-align : center;
		border : 1px solid black;
		width : 150px;
		height: 120px;
		overflow-y: scroll;
	}
	.region-api-div>div:first-child{
		border-right: 0;
	}
	.region-api-div>div>div{
		cursor : pointer;
		margin-bottom: 7px;
	}
	.selected{
		color : black;
		font-weight: 900;
	}
	[name=imageFile]{
		font-size: 15px;
	}
	.image-zone{
		margin-top : 20px;
		width: 300px;
		height: 300px;
	}
	.join-fee>span>input{
		margin-right: 5px;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main>
		<section>
			<!-- Hero Start -->
			<div class="container-fluid bg-light py-6 my-6 mt-0"
				style="padding-bottom: 1rem;">
				<div class="container text-center animated bounceInDown">
					<h1 class="new-head">모임만들기</h1>
					<p>생성할 모임의 정보를 입력하세요!</p>
				</div>
			</div>
			<!-- Hero End -->
			
			<div class="content">
				<form action="/group/makeNewGroup" method="post" enctype="multipart/form-data">
					<div class="new-group-box">
						<div class="category">
							<div class="title">
								<label for="category">카테고리</label>
							</div>
							<div class="category-select-box">
								<select id="category" name="categoryNo">
								    <option value="1">운동/스포츠</option>
								    <option value="2">사교/인맥</option>
								    <option value="3">인문/독서</option>
								    <option value="4">게임/오락</option>
								    <option value="5">외국/언어</option>
								    <option value="6">공예/만들기</option>
								    <option value="7">아웃도어/여행</option>
								    <option value="8">음악/악기</option>
								    <option value="9">업종/직무</option>
								    <option value="10">댄스/무용</option>
								    <option value="11">사진/영상</option>
								    <option value="12">반려동물</option>
								  </select>
							</div>
						</div>
						<div class="group-title">
							<div class="title">
								<label for="groupName">모임 이름</label>
							</div>
							<div class="group-name-box">
								<input type="text" id="groupName" name="groupName">
							</div>
						</div>
						<div class="group-info">
							<div class="title">
								<label for="groupInfo">모임 소개</label>
							</div>
							<div>
								<textarea id="groupInfo" name="groupInfo"></textarea>
							</div>
						</div>
						<div class="max-num">
							<span class="title">
								<label for="maxNum">인원제한</label>
							</span>
							<span>
								<input type="text" id="maxNum" name="maxNum" value="20">
							</span>
						</div>
						
						<div class="group-location">
							<div class="title">
								<label for="region">지역</label>
							</div>
							<div class="region-api-div">
								<div class="sido">
									
								</div>
								<div class="sigungu">
								
								</div>
							</div>
							<input type="hidden" id="groupLocation" name="groupLocation">
						</div>
						
						<div class="meeting-date">
							<div class="title">일정</div>
							<div>
								<input type="date" id="meetingDate" name="meetingDate">
							</div>
						</div>
						<div class="thumb-image">
							<div class="title">
							<span>썸네일</span>
							<span><input type="file" name="imageFile" accept="image/*" onchange="loadImg(this);"></span>
							</div>
							<div class="image-zone">
								<img id="img-view" src="/myimage/default.png" style="width: 100%;">
							</div>
						</div>
						<div class="join-fee">
							<span class="title">가입비: </span><span><input type="text" id="joinFee" name="joinFee" value="1000"></span><span style="color: black;">원</span>
						</div>
						
						
						
						<div class="btn-box">
							<button type="submit">만들기</button>
						</div>
					</div>
				</form>
			</div>
			
			
			
		</section>
	</main>
	
	
	
	<script>
		$(".navbar-nav").children().eq(2).addClass("active");
		
		
		$.ajax({
			url : "/group/sido",
			type : "get",
			success : data => {
				
				for(let i=0; i<data.length; i++){
					const sido = data[i];
					const div = $("<div>");
					div.text(sido);
					$(".sido").append(div);
					
					div.on("click", function() {
						printSigungu(this,sido);
					})
				}
				
				$(".sido>div:first-child").click();
				
			}
		});
		
		
		function printSigungu(obj,sido){
			$.ajax({
				url : "/group/sigungu",
				type : "get",
				data : {sido : sido},
				success : data => {
					$(".sido>div").removeClass("selected");
					$(obj).addClass("selected");
					const sggDiv = $(".sigungu");
					sggDiv.children().remove();
					
					for(let i=0; i<data.length; i++){
						const sigungu = data[i];
						const div = $("<div>");
						div.text(sigungu);
						sggDiv.append(div);
						
						div.on("click", function() {
							$(".sigungu>div").removeClass("selected");
							$(this).addClass("selected");
						})
					}
					
				}
			});
		}
		
		function loadImg(obj){
			if(obj.files.length !== 0){
				const reader = new FileReader();
				reader.readAsDataURL(obj.files[0]);
				reader.onload = function(e) {
					$("#img-view").attr("src", e.target.result);
				}
			}else{
				$("#img-view").attr("src", "/image/default.png");
			}
		}
		
		
		
		
		
		
		
		//최종 입력값 확인하고 서브밋 동작할지 말지
		$(".btn-box>button").on("click", (e) => {
			const arr = $(".selected");
			
			const name = $("#groupName").val().length > 0;
			const info = $("#groupInfo").val().length > 0;
			const maxnum = $("#maxNum").val() > 1;
			const location = arr.length === 2;
			const meetingDate = $("#meetingDate").val() !== "";
			const joinFee = $("#joinFee").val() >= 0;
			
			if(name && info && maxnum && location && meetingDate && joinFee){
				const addr = arr.eq(0).text() + "/" + arr.eq(1).text();
				$("#groupLocation").val(addr);
			}else{
				alert("입력 정보를 확인하세요");
				e.preventDefault();
			}
			
		});
		
		
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>