<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>모임멤버 등급조정</title>
</head>
<style>
	*{
	font-family: ptd;
	}
	.mypage-wrap{
		width: 1200px;
		box-shadow: 0 0 45px rgba(0, 0, 0, .08);	
	}
</style>
<body>
	<th:block th:include="common/header"></th:block>
		<main class="content">
			<section class="mypage-wrap rounded">
				<div class="page-title">모임 멤버 관리!!!!!!!!!!!</div>
				<form action="/member/update" method="post" autocomplete="off" >
					<table class="tbl tbl-hover">
						<tr> <!-- 계속 바뛰지 않게 스타일에서 너비 고정 -->
							<th style="width:5%;">선택</th>
							<th style="width:5%;">모임번호</th>
							<th style="width:15%;">회원번호</th>
							<th style="width:15%;">닉네임</th>
							<th style="width:15%;">지역</th>
							<th style="width:15%;">전화번호</th>
							<th style="width:15%;">모임가입일</th>
							<th style="width:15%;">모임등급</th>							
						</tr>
						<tr th:each="m, status : ${list}">
							<td>
								<div class="input-wrap">
									<input type="checkbox" class="chk" th:id="${'chk'+status.count}">
									<label th:for="${'chk'+status.count}"></label>
								</div>
							</td>
							<td th:text="${m.groupNo}"></td>
							<td th:text="${m.memberNo}"></td>
							<td th:text="${m.memberNickname}"></td>
							<td th:text="${m.memberAddr}"></td>
							<td th:text="${m.memberPhone}"></td>
							<td th:text="${m.joinDate}"></td>
							<td th:text="${m.groupMemberLevel}"></td>
							<td>
								<div class="select" th:switch="${m.groupMemberLevel}">
									<select th:case="1">
										<option value="1" selected>모임장</option>
										<option value="2">운영진</option>
										<option value="3">평회원</option>
									</select>
									<select th:case="2">
										<option value="1">모임장</option>
										<option value="2" selected>운영진</option>
										<option value="3">평회원</option>
									</select>
									<select th:case="3">
										<option value="1">모임장</option>
										<option value="2">운영진</option>
										<option value="3" selected>평회원</option>
									</select>
								</div>
							</td>
							<td>
								<button class="btn-primary changeLevel">등급변경</button>
							</td>
						</tr>
						<tr>
							<td colspan="9">
								<button class="btn-point checkedChageLevel">선택회원 등급변경</button>
							</td>
						</tr>
					</table>					
				</form>
			</section>
		</main>
				


	<th:block th:include="common/footer"></th:block>

</body>
</html>